@import "~@angular/material/prebuilt-themes/purple-green.css"; 
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;

    & > * {
        display: flex;
        flex-direction: column;
    }
    & .actions{
        padding: 0 16px;
        border-right: 1px solid gray;
        & > *:not(:first-child) {
            margin: 16px 0;
        }
        & > .add-note {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            
        }
    }

    & .presentation{
        margin-left: 24px;
        & > *:not(mat-slide-toggle) {
            color: white;
            background: #424242;
            border-radius: 8px;;
            min-height: 80px;
            padding: 16px;
            margin: 8px;
        }
        & > mat-card {
            cursor: pointer;
        }
    }
}