.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 64px;

    & > * {
        display: flex;
        flex-direction: column;
    }
    & .actions{
        padding: 16px;
        border-right: 1px solid gray;
        & > button {
            margin-bottom: 8px;;
        }
    }

    & .presentation{
        margin-left: 24px;
        & > pre {
            background: #77727233;
            border-radius: 8px;;
            min-height: 80px;
            padding: 16px;
        }
    }
}