<div class="container">
    <div class="actions">

        <form class="add-note" #noteForm="ngForm">
            <mat-form-field>
                <mat-label>Message</mat-label>
                <input matInput maxlength="100" placeholder="Writh something" name="content" ngModel>
              </mat-form-field>
            <mat-slide-toggle ngModel name="isUrgent">Is urgent?</mat-slide-toggle>
            <button mat-flat-button type="submit" color="accent" (click)="addNote(noteForm)">CREATE</button>
        </form>

        <button mat-raised-button color="primary" (click)="updateFirstNote()">1ST TO BE "CUSTOMIZED"</button>

        <button mat-flat-button color="warn" (click)="deleteLastNote()">DELETE LAST</button>
    </div>

    <div class="presentation" >
        <mat-slide-toggle [(ngModel)]="showRaw">Show Raw data</mat-slide-toggle>
        <pre *ngIf="showRaw; else list">
            {{ notes | json }}
        </pre>
        <ng-template #list>
            <div>
                <mat-card *ngFor="let note of notes">{{ note.note === "" ? "-" : note.note }}</mat-card>
            </div>
        </ng-template>
    </div>
</div>